/Test Machines/
/Tools/Legacy Tools/
/Tools/GCC/
/Tools/DevToolkit/nbproject/private/
/Tools/DevToolkit/build/
/Tools/DevToolkit/dist/
/Tools/Pasme/target/

/XtBootMgr/build/
/OS/Bootloader/build/
/OS/Bootloader/diskDropbox/
.vs

